<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CairoDesktop.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CairoDesktop.Configuration.Properties.Settings>
            <setting name="EnableDesktop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableMenuBarShadow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="FileManager" serializeAs="String">
                <value>%WINDIR%\explorer.exe</value>
            </setting>
            <setting name="EnableSysTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDynamicDesktop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CairoTheme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="EnableSubDirs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DesktopDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskbarMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SysTrayAlwaysExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultProgramsCategory" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="EnableTaskbarPolling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TaskbarPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DesktopLabelPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DesktopIconSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ForceSoftwareRendering" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskbarIconSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EnableDesktopOverlayHotKey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCairoMenuHotKey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DesktopOverlayHotKey" serializeAs="String">
                <value>Win|Shift|D</value>
            </setting>
            <setting name="CairoMenuHotKey" serializeAs="String">
                <value>Win|Shift|Z</value>
            </setting>
            <setting name="FoldersOpenDesktopOverlay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableMenuBarBlur" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableMenuBarMultiMon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTaskbarMultiMon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogSeverity" serializeAs="String">
                <value>Info</value>
            </setting>
            <setting name="FullWidthTaskBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowHibernate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TaskbarMiddleClick" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProgramsMenuLayout" serializeAs="String">
                <value>0</value>
            </setting>
        </CairoDesktop.Configuration.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
