################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code/Cairo Desktop/Build
/code/Cairo Desktop/Cairo Desktop/obj
/code/Cairo Desktop/.vs
/code/Cairo Desktop/Cairo Desktop.VC.db
/code/Cairo Desktop/Cairo Explorer/obj
/code/Cairo Desktop/Cairo.WindowsHooksWrapper/obj
/code/Cairo Desktop/CairoDesktop.AppGrabber/obj
/code/Cairo Desktop/CairoDesktop.Interop/obj
/code/Cairo Desktop/CairoDesktop.WindowsTasks/obj
/code/Dependencies/Cairo.WindowsHooks/.vs/Cairo.WindowsHooks/v14
/code/Dependencies/Cairo.WindowsHooks/obj
