<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns="http://schemas.postsharp.org/1.0/configuration">

	<!-- List of phases of the post-compilation process -->
	<Phases>
		<Phase Name="Load" Ordinal="10"/>
		<Phase Name="Analyze" Ordinal="20"/>
		<Phase Name="Transform" Ordinal="30"/>
		<Phase Name="Generate" Ordinal="40"/>
	</Phases>

	<!-- Standard properties -->
	<Property Name="PlugInDirectory" Value="{$PostSharpDirectory}\PlugIns"/>
	<Property Name="UserPlugInDirectory" Value="{$ApplicationDataDirectory}\PostSharp 1.0"/>

	<!-- Include standard plug-in directories in the search path -->
	<SearchPath Directory="{$PlugInDirectory}"/>
	<SearchPath Directory="{$UserPlugInDirectory}"/>

	<!-- Standard tasks -->
	<TaskType	Name="Compile"
				Phase="Generate"
				Implementation="PostSharp.Extensibility.Tasks.CompileTask, PostSharp.Core"
				/>

	<TaskType	Name="Verify"
				Phase="Generate"
				Implementation="PostSharp.Extensibility.Tasks.VerifyTask, PostSharp.Core">
		<Dependency TaskType="Compile" Required="false"/>
	</TaskType>

	<TaskType	Name="MulticastAttribute"
				Phase="Analyze"
				Implementation="PostSharp.Extensibility.Tasks.MulticastAttributeTask, PostSharp.Core">
		<Dependency TaskType="CustomAttributeDictionary"/>
	</TaskType>

	<TaskType	Name="CustomAttributeDictionary"
				Phase="Analyze"
				Implementation="PostSharp.Extensibility.Tasks.CustomAttributeDictionaryTask, PostSharp.Core">
		<Dependency TaskType="ModuleCustomAttributeProvider"/>
		<Dependency TaskType="TypeHierarchyAnalysis"/>
		<Dependency TaskType="IndexGenericInstances" />
	</TaskType>

	<TaskType	Name="AutoDetect"
				Phase="Analyze"
				Implementation="PostSharp.Extensibility.Tasks.AutoDetectTask, PostSharp.Core">
		<Dependency TaskType="CustomAttributeDictionary"/>
		<Dependency TaskType="MulticastAttribute"/>
    <Dependency TaskType="Globals"/>
    <Dependency TaskType="DisableMessages"/>
	</TaskType>

	<TaskType	Name="ModuleCustomAttributeProvider"
				Implementation="PostSharp.Extensibility.Tasks.ModuleCustomAttributeProvider, PostSharp.Core"/>

	<TaskType	Name="TypeHierarchyAnalysis"
				Phase="Analyze"
				Implementation="PostSharp.Extensibility.Tasks.TypeHierarchyTask, PostSharp.Core" />

	<TaskType   Name="IndexGenericInstances"
				Phase="Analyze"
				Implementation="PostSharp.Extensibility.Tasks.IndexGenericInstancesTask, PostSharp.Core"/>

	<TaskType   Name="IndexUsages"
				Phase="Analyze"
				Implementation="PostSharp.Extensibility.Tasks.IndexUsagesTask, PostSharp.Core"/>

	<TaskType	Name="CodeWeaver"
				Phase="Transform"
				Implementation="PostSharp.CodeWeaver.WeaverTask, PostSharp.Core">
		<Dependency TaskType="IndexUsages"/>
    <Dependency TaskType="ImplementationBoundAttributes"/>
	</TaskType>

	<TaskType	Name="Remove"
				Phase="Generate"
				Implementation="PostSharp.Extensibility.Tasks.RemoveTask, PostSharp.Core">
		<Dependency TaskType="Compile" Position="After"/>
	</TaskType>

  <TaskType Name="Globals" Phase="Analyze"
            Implementation="PostSharp.Extensibility.Tasks.GlobalsTask, PostSharp.Core"/>

  <TaskType Name="ImplementationBoundAttributes" Phase="Analyze"
            Implementation="PostSharp.Extensibility.Tasks.ImplementationBoundAttributesTask, PostSharp.Core">
    <Dependency TaskType="CustomAttributeDictionary"/>
  </TaskType>

  <TaskType Name="DisableMessages" Phase="Load"
            Implementation="PostSharp.Extensibility.Tasks.DisableMessagesTask, PostSharp.Core"/>


	<!-- Standard platforms -->
	<Platform	Name="dotnet20"
				Default="true"
				Implementation="PostSharp.Extensibility.DotNet20PlatformAdapter, PostSharp.Core" />

</Configuration>
