#
# This file is a name-value dictionary of settings.
#


# Global trace flag. Note that this flag is overriden by the MSBuild
# task of the command-line utility.
Trace = false

# Trace flags for individual categories.
Trace.AssemblyBinder = false
Trace.Domain = false
Trace.ProjectLoader = false
Trace.MulticastAttributeTask = false
Trace.ModuleReader = false
Trace.CodeWeaver = false
Trace.InstructionReader = false
Trace.InstructionEmitter = false
Trace.Messenger = false
Trace.Remoting = false
Trace.ReflectionBinding = false
Trace.ModuleWriter = false
Trace.CodeModel = false
Trace.CustomAttributeDictionaryTask = false
Trace.Laos = false
Trace.Timings = false
Trace.CompileTask = false
Trace.AutoDetectTask = false
Trace.PostSharpObject = false
Trace.IndexUsagesTask = false
Trace.AutoUpdate = false
Trace.TaskResolving = false

# Validation is disabled by default because it is very expensive.
ValidateXmlDocuments = false