<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CairoDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CairoDesktop.Properties.Settings>
            <setting name="EnableDesktop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableMenuBarShadow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeFormat" serializeAs="String">
                <value>ddd h:mm tt</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="FileManager" serializeAs="String">
                <value>%WINDIR%\explorer.exe</value>
            </setting>
            <setting name="EnableSysTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableDynamicDesktop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CairoTheme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="EnableSubDirs" serializeAs="String">
                <value>True</value>
            </setting>
        </CairoDesktop.Properties.Settings>
    </userSettings>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
