<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CairoDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <!--<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />-->
    </configSections>
    <userSettings>
        <CairoDesktop.Properties.Settings>
            <setting name="EnableDesktop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTaskbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableMenuBarShadow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MenuBarWhite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeFormat" serializeAs="String">
                <value>ddd h:mm tt</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="FileManager" serializeAs="String">
                <value>%WINDIR%\explorer.exe</value>
            </setting>
            <setting name="EnableDynamicDesktop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSysTray" serializeAs="String">
                <value>True</value>
            </setting>
        </CairoDesktop.Properties.Settings>
    </userSettings>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <!--<system.diagnostics>
    <sources>
      <source name="System.Windows.Data" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="SourceSwitch" value="All"/>
    </switches>
    <sharedListeners>
      <add name="textListener"
                type="System.Diagnostics.TextWriterTraceListener"
                initializeData="DebugTrace.txt" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4"></trace>
  </system.diagnostics>-->
  <!-- NLog is for determining AppGrabber crashes, enable when needed
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File"
          layout="${longdate} ${logger} ${message}"
          fileName="${basedir}/logs/logfile.txt"
          keepFileOpen="false"
          encoding="iso-8859-2" />
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>-->

</configuration>